#head{
    background-color: aqua;
    height: 20vh;
    display: flex;
    justify-content: center;
}
#list{
    margin-top: 20px;
    display: flex;
    transform: translateY(30px);
    
    
}
#land{
    background-color: rgb(0, 117, 78);
    height: 20vh;
}
#foot{
    height: auto;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    font-size: larger;
}